@page "/servers/edit/{id}"
@page "/servers/new"
@using ServerManagement.Constants
@inject ServerClient ServerClient

<h3>@_pageHeader</h3>

<EditForm Model="@_serverModel" OnValidSubmit="OnValidSubmitAsync">
    <DataAnnotationsValidator/>
    <MudCard>
        <MudCardContent>
            <MudTextField Label="Name" HelperText="Max. 128 characters"
                          @bind-Value="_serverModel.Name" For="@(() => _serverModel.Name)"/>
            <MudTextField Label="Hostname" HelperText="AZIN123456"
                          @bind-Value="_serverModel.HostName" For="@(() => _serverModel.HostName)"/>
            <MudTextField Label="Primary IP Address" HelperText="10.0.134.12"
                          @bind-Value="_serverModel.PrimaryIp" For="@(() => _serverModel.PrimaryIp)"/>

            <MudSelect @bind-Value="_serverModel.OperatingSystem"
                       Variant="Variant.Text"
                       Label="Operating Systems"
                       Margin="Margin.Normal"
                       FitContent="true"
                       Placeholder="Please Select OS"
                       HelperText="Select Server OS"
                       HelperTextOnFocus="true"
                       Clearable="true"
                       Modal="false">
                @foreach (var os in Enum.GetValues(typeof(ServerOperatingSystem)).Cast<ServerOperatingSystem>())
                {
                    <MudSelectItem Value="os">@os</MudSelectItem>
                }
            </MudSelect>

        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mr-2">Add
                Server
            </MudButton>
            <MudButton ButtonType="ButtonType.Reset" Variant="Variant.Outlined" Color="Color.Default" Class="ml-2">
                Reset
            </MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@code {
    [Parameter] public string? Id { get; set; }
    private string _pageHeader = "";

    ServerDetails _serverModel = new();
    bool _success;

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(Id))
        {
            _pageHeader = "Add New Server";
        }
        else
        {
            _pageHeader = $"Edit Server {Id}";
        }

        base.OnInitialized();
    }

    private async Task OnValidSubmitAsync(EditContext context)
    {
        _serverModel.Id = Guid.NewGuid();
        _success = await ServerClient.AddNewServerDetails(_serverModel);
        StateHasChanged();
    }

}