@page "/servers"

@using ServerManagement.Clients
@using ServerManagement.Models
@inject ServerClient ServerClient

<PageTitle>Servers</PageTitle>

<MudTable Items="@_servers" Dense="false" Hover="true" Bordered="true" Striped="true" Filter="new Func<ServerSummary, bool>(FilterTable)" @bind-SelectedItem="_selectedItem1">
    <ToolBarContent>
        <MudText Typo="Typo.h6">All Servers</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh>Status</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Host Name</MudTh>
        <MudTh>Primary IP</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Online">@context.IsOnline</MudTd>
        <MudTd DataLabel="Status">@context.Status</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Host Name">@context.HostName</MudTd>
        <MudTd DataLabel="Primary IP">@context.PrimaryIp</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSpacer />
    <div style="min-width:200px;">
        <MudText Class="align-self-center d-inline">Selected1: @_selectedItem1?.Name</MudText>
    </div>
</div>

@code {
    private string _searchString1 = "";
    private ServerSummary? _selectedItem1;

    private IEnumerable<ServerSummary> _servers = new List<ServerSummary>();

    protected override async Task OnInitializedAsync()
    {
        _servers = await ServerClient.GetServersList();
    }

    private bool FilterTable(ServerSummary element) => SearchServers(element, _searchString1);

    private bool SearchServers(ServerSummary element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.HostName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if ($"{element.Name} {element.HostName} {element.PrimaryIp}".Contains(searchString))
            return true;
        return false;
    }
}
