@page "/servers/{ServerId}/disks"
@using System.Text.Json
@using ServerManagement.UI.Components.Controls
@inject ServerClient ServerClient
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<div class="d-flex flex-column flex-grow-1 gap-4">
    <PageTitle>Disks</PageTitle>

    <MudTable Items="@_disks" Dense="false" Hover="true" Bordered="true" Striped="true"
              Filter="new Func<Disk, bool>(FilterTable)"
              @bind-SelectedItem="_selectedDisk">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Installed Disks</MudText>

            <MudButton Class="mx-5"
                       Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Add"
                       Color="Color.Primary"
                       @onclick="NavigateToAddDisk">Add
            </MudButton>

            <MudSpacer/>
            <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Capacity</MudTh>
            <MudTh>Usage</MudTh>
            <MudTh>Disk Type</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>

            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Capacity">@context.CapacityGb GiB</MudTd>
            <MudTd DataLabel="Usage">
                <MudProgressLinear Color="Color.Primary" Rounded="true" Size="Size.Large"
                                   Value="@(Math.Round((context.UsedGb * 1.0 / context.CapacityGb * 1.0) * 100, 0))"/>
            </MudTd>
            <MudTd DataLabel="Type">@context.DiskType</MudTd>
            <MudTd>
                <MudLink Href="@($"/servers/{ServerId}/disks/{context.Id.ToString()}")" Typo="Typo.subtitle1"
                         StartIcon="@Icons.Material.Filled.Edit"></MudLink>
                <MudIconButton @onclick="() => OpenDeleteConfirmDialogAsync(context.Id)"
                               Icon="@Icons.Material.Filled.Delete" Size="Size.Small" aria-label="delete"
                               Color="Color.Error"></MudIconButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager/>
        </PagerContent>
    </MudTable>
</div>

@code {
    [Parameter] public string? ServerId { get; set; }

    private string _searchString = "";
    private Disk? _selectedDisk;

    private List<Disk> _disks = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (RendererInfo.IsInteractive)
        {
            await ReloadList();
        }
    }

    private bool FilterTable(Disk element) => SearchDisks(element, _searchString);

    private static bool SearchDisks(Disk element, string searchString)
    {
        return string.IsNullOrWhiteSpace(searchString)
               || element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase);
    }

    private async Task OpenDeleteConfirmDialogAsync(Guid diskId)
    {
        var parameters = new DialogParameters<ServerDialog>
        {
            { x => x.ContentText, "Are you sure you want to delete this disk? This action cannot be undone." },
            { x => x.ButtonText, "Delete" },
            { x => x.Color, Color.Error },
            { x => x.EntityId, diskId.ToString() },
        };
        var options = new DialogOptions { CloseOnEscapeKey = true };

        var dialog = await DialogService.ShowAsync<ServerDialog>("Confirm Delete", parameters, options);
        var result = await dialog.Result;

        if (result is { Canceled: true }) return;

        if (string.IsNullOrEmpty(ServerId))
        {
            return;
        }

        Console.WriteLine($"Disk {diskId} is being deleted....");
        var response = await ServerClient.DeleteDisk(Guid.Parse(ServerId), diskId);

        if (response?.Status.ToLower() == "success")
        {
            Snackbar.Add("Disk has been deleted successfully.", Severity.Success);
            await ReloadList();
        }
        else
        {
            Snackbar.Add("Failed to delete the Disk.", Severity.Error);
        }
    }

    private async Task ReloadList()
    {
        if (string.IsNullOrEmpty(ServerId))
        {
            return;
        }

        var response = await ServerClient.GetDisksForServer(Guid.Parse(ServerId));

        if (response?.Status.ToLower() != "success")
        {
            return;
        }

        var options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
        _disks = JsonSerializer.Deserialize<List<Disk>>(response.Data, options);
    }

    private void NavigateToAddDisk()
    {
        NavigationManager.NavigateTo($"/servers/{ServerId}/disks/new");
    }

}
